.center{
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
}

/* .typing{
    position: relative;
    margin-left: 10px;
}

.typing::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 10px;
    left: -5px;
    border-right: 2px solid black;
    animation: blink 0.5s infinite ease;
    align-items: center;
    justify-content: center;
}
@keyframes blink{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
} */